

<form class="" action="/figures/new" method="post">

<ul>
<!-- figure Name field -->
  <li> <label for="">Figure's Name</label> </li>
       <input type="text" name="figure[name]" id="figure_name" value="">
<br><br>

<!-- title name -->
  <li> <label for="">Choose a Title</label> </li>
        <% Title.all.each do |title| %>
        <input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="title_<%=title.id%>">
        <%= title.name %>
        <% end %>
<br>
  <li> <label for="">Or create a New Title</label> </li>
        <input type="text" name="title[name]" value="" id="new_title" >
<br><br>

<!-- landmark -->
  <li> <label for="">Choose a Landmark</label> </li>
    <% Landmark.all.each do |landmark|  %>

      <input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>" id="landmark_<%=landmark.id %>">
      <%= landmark.name %>
      <% end %>
  <li> <label for="">Or create a New Landmark</label> </li>
      <input type="text" name="landmark[name]" value="" id="new_landmark">

</ul>

<input type="submit" name="submit button" value="Create New Figure">
</form>
